<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.AttrMapper">
<!-- 	
	<select id="select_attr" resultMap="select_attr_map">
	
	
	</select>
 -->

</mapper>




